<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kwiaty</title>
</head>
<body>
    <a href="{% url 'add_flower' %}">Dodaj Kwiat</a>
    
    <h1>Lista kwiatów:</h1>
    <ul>
        {% for kwiat in kwiaty %}
        <li>
                Kwiat: {{kwiat.name_flower}}
                <a href="{% url 'edit_flower' kwiat.id %}">Edytuj</a>
                <form action="{% url 'delete_flower' kwiat.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Usuń</button>
                </form>
        </li>
        {% endfor %}
    </ul>  
</body>
</html>